<div id="newCandidateModal" class="modal hide fade" aria-hidden="true">
  <div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
    <h3>New Candidate</h3>
  </div>
  <div class="modal-body">
    <%= render 'candidates/form' %>
  </div>
</div>
