<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      <%= @candidate.full_name %> has finished <%= @training_program.name %>
    </h1>
    <p>Thanks for see this email and have a great day!</p>
  </body>
</html>
