<div id="in-sub-nav">
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul>
        <% if current_user || current_candidate %>
          <li>
          <%= link_to root_path, class:get_active_class('home') do %>
            <i class="batch home"></i><br>Dashboard</a>
          <% end -%>
          </li>

          <% if current_user.admin? %>
            <li>
              <%= link_to users_path, class:get_active_class('users') do %>
                <i class="batch users"></i><br>Collaborators
              <% end -%>
            </li>
          <% end -%>

          <% if current_user %>
          <!--
          <li><span class="label label-important pull-right">08</span><a href="stream.html"><i class="batch stream"></i><br>Stream</a></li>
          <li><span class="label label-important pull-right">04</span><a href="messages.html"><i class="batch plane"></i><br>Messages</a></li>
          <li><a href="calendar.html"><i class="batch calendar"></i><br>Calendar</a></li>
          <li><a href="paragraphs.html"><i class="batch quill"></i><br>Paragraphs</a></li>
          <li><a href="faq.html"><i class="batch forms"></i><br>FAQ</a></li>
          -->
          <li>
            <%= link_to candidates_path, class:get_active_class('candidates') do %>
              <i class="batch users"></i><br>Candidates
            <% end -%>
          </li>
          <!--
          <li><a href="settings.html"><i class="batch settings"></i><br>Settings</a></li>
          -->
          <% end -%>

          <% if current_candidate %>

          <% end -%>
        <% end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
