<div class="control-group">
  <div class="controls">
    <%= f.text_field :title, placeholder: 'Title', style:'vertical-align:top' %>

    <%= f.text_area :description, placeholder: 'Description' %>

    <label class="checkbox">
      <%= f.check_box :_destroy %> Remove
    </label>
  </div>
</div>
